{% extends 'readmybook/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Sign In{% endblock %}
{% block content%}
    <div class="form-container mt-5">
    <form class="form-horizontal" action="" method="post">
        <span class="display-4">Sign In</span>
        <hr>
        {% if messages %}
        {% for message in messages%}
        <div class="alert alert-danger">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% csrf_token %}
        {{form|crispy}}
         <button type="submit" class="btn btn-success btn-lg mt-4">Sign In</button>

    </form>
</div>
{% endblock %}